{% extends 'mc_base.html' %}
{% block title %} About||Madhab Chandra{% endblock %}
{% block content %}
<div class="max-w-screen-xl mx-auto px-10 md:px-20 ">
	<div class="w-full md:min-h-9/10   flex justify-between items-center">
		<div class="w-1/5 h-full hidden md:block  "></div>
		<div class="w-full md:w-4/5  md:min-h-9/10 mx-auto flex-row  text-center">
		
			<div class="main_hero md:mt-0 mt-20  md:min-h-screen  flex justify-center items-center">
				<div class="">
					<div class="py-6 md:pt-0 md:pb-10 text-xl md:text-4xl font-bold text-gray-400 ">
						About Me
						<hr class="mt-5 md:mt-10">
					</div>
					
					<div class="text-start px-3 md:px-10">
						Hello, My name is <span class="text-cr">Madhab Chandra</span>. I am a full stack web developer with more than 5 years of experience.
						I have good knowledge in following technologies.<br><br>
						Python, Django, Flutter, JavaScript, jQuery, Bootstrap5, Tailwind CSS, HTML5, CSS3, Figma, Adobe Photoshop and Adobe Illustrator.<br><br>
						I am very friendly and detail oriented developer. I am always enthusiastic about learning new technologies and making a website more user-friendly. I have developed multiple websites and applications for all foreign clients. Highly organized and dedicated, with a positive attitude. Hardworking and committed to work.
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
			