{% extends 'mc_base.html' %}
{% block title %} Home Page{% endblock %}
{% block content %}
<div class="max-w-screen-xl mx-auto px-10 md:px-20 ">
<div class="w-full  md:min-h-screen  flex justify-between items-center">
<div class="w-1/5 h-full hidden md:block  "></div>
<div class="w-full md:w-4/5 md:min-h-9/10 mx-auto flex-row  text-center ">


<div class="main_hero mt-20 md:mt-0  md:min-h-screen  flex justify-center items-center">
	<div class="">
		<div class="" data-aos="fade-down">
			<h1 class="text-4xl md:text-7xl  font-bold ">Full-Stack <br>Web <span class="text-cy">Developer !!!</span></h1>
		</div>
		<div class="py-10 ">
			<p class="text-md md:text-xl font-semibold">Hi, I'm <span class="text-cr">Madhab Chandra</span>. <br>A passionate Full-Stack Web Developer by Python and Django.</p>
		</div>
		<div class=" flex justify-center gap-3 md:gap-8 py-3 md:py-5 text-gray-400">
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<i class="fa-brands fa-python text-xl"></i>
			</div>
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<span class=" text-xl font-bold">dj</span>
			</div>
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<i class="fa-solid fa-database text-md"></i>
			</div>
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<i class="fa-brands fa-js text-md"></i>
			</div>
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<i class="fa-brands fa-html5 text-md"></i>
			</div>
			<div class="h-12 w-12 shadow-bw rounded-full p-2 flex justify-center items-center">
				<i class="fa-brands fa-figma text-md"></i>
			</div>
		</div>
		
		<div class=" flex flex-col md:flex-row justify-center items-center gap-10  mt-10 md:mt-10 md:py-10 mx-auto">
			<div class=" w-56 shadow-bw p-3 flex justify-center items-center text-cg hover:text-cr rounded-xl">
				<a class="" href="https://www.upwork.com/freelancers/~01105a047f2bc4442e" target="_blank" ><i class="fa-solid fa-user-tie text-sm px-3"></i> Hire Me</a>
			</div>
			
			<div class=" w-56 shadow-bw p-3 flex justify-center items-center text-cg hover:text-cy rounded-xl">
				<a class="" href="">Download CV <i class="fa-solid fa-file-arrow-down px-3"></i></a>
			</div>
		</div>
	</div>
</div>

<div class=" shadow-bw px-10 p-5 pb-5 mt-20 text-gray-400 overflow-hidden" >
	<div class="md:py-6 md:pt-0 md:pb-10 text-xl md:text-2xl font-bold text-gray-400 ">
		Website
		<hr class="mt-5">
	</div>
	<div class=" p-1 responsive flex w-full">
	
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
	</div>

</div>




<div class="about shadow-bw p-5 my-10 text-gray-400" id="about">
	<div class="py-6 md:pt-0 md:pb-10 text-xl md:text-4xl font-bold text-gray-400 ">
		About Me
		<hr class="mt-5 md:mt-10">
	</div>
	
	<div class="text-start px-3 md:px-10">
		Hello, My name is <span class="text-cr">Madhab Chandra</span>. I am a full stack web developer with more than 5 years of experience.
		I have good knowledge in following technologies.<br><br>
		Python, Django, Flutter, JavaScript, jQuery, Bootstrap5, Tailwind CSS, HTML5, CSS3, Figma, Adobe Photoshop and Adobe Illustrator.<br><br>
		I am very friendly and detail oriented developer. I am always enthusiastic about learning new technologies and making a website more user-friendly. I have developed multiple websites and applications for all foreign clients. Highly organized and dedicated, with a positive attitude. Hardworking and committed to work.
	</div>
</div>


<div class="mb-20" id="skill">
	<div class="md:pt-6 md:pt-0  text-xl md:text-2xl font-bold text-gray-400 my-10">
		Skill Proficiency
		<hr class="mt-5 ">
	</div>
<div class=" px-6 ">
  <h2 class="text-2xl font-bold text-center mb-6"></h2>

  <div class="">

    <div class="flex  gap-4">
		<div class="grid  gap-4 text-sm text-gray-400 w-[15%] text-start">
			<div class="h-6 flex items-center">Python</div>
			<div class="h-6 ">Django</div>
			<div class="h-6 ">Flet</div>
			<div class="h-6 ">jQuery</div>
			<div class="h-6 ">CSS</div>
			<div class="h-6 ">Tailwind</div>
			<div class="h-6 ">JavaScript</div>
			<div class="h-6 ">HTML</div>
		</div>
		<div class="border-l border-b w-[85%] grid gap-4">
			<div class=" h-6 flex items-center">
				<div class="w-[76%] h-1 bg-gray-400 rounded-r"></div>
			</div>
			<div class=" h-6 flex items-center">
				<div class="w-[90%] h-1 bg-gray-400 rounded-r"></div>
			</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			<div class="w-[20%] h-6 bg-green-500">hello</div>
			
		
		</div>
	 </div>     
	<div class="flex gap-4 mt-3">
		<div class="w-[15%]"></div>
		<div class=" w-[85%] flex gap-4 mt-2 text-xs justify-between  text-gray-400">
			<span>0%</span>
			<span>25%</span>
			<span>50%</span>
			<span>75%</span>
			<span>100%</span>
		</div>
	</div>	
		
  </div>
</div>


</div>




<div class="about shadow-bw p-5 px-8 my-10 md:my-10 text-gray-400" id="project">
	<div class="md:py-6 md:pt-0 md:pb-10 text-xl md:text-2xl font-bold text-gray-400 ">
		Blog
		<hr class="mt-5">
	</div>
	<div class=" p-1 responsive flex w-full">
	
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
		<div class="p-4">
			<div class="flex justify-center">
				<div class="max-w-56 shadow-bw rounded-2xl overflow-hidden p-3">
			    <img class="w-full w-48 object-cover filter-70 rounded-t-xl" src="static/image/manon.png" alt="Product Image">
			    <div class="p-4">
			        <h2 class="text-lg font-semibold text-gray-400">Portfoliyo Website</h2>
			        <p class="text-gray-500 text-sm mt-1">High-quality and stylish product for everyday use.</p>
			        <div class="flex justify-center items-center mt-4">
			            <a href="#" class="w-full">
				            <button class=" w-full text-gray-400 px-4 py-2 font-bold shadow-[0px_0px_30px_rgba(0,0,0,0.3)]  rounded-full hover:shadow-[0px_0px_30px_rgba(0,0,0,0.5)] hover:text-gray-200 transition">
				                View
				            </button>
			            </a>
			        </div>
			    </div>
			</div>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
		
				<div class="p-4">
			<div class="shadow-bw">
				<h1>Hello world</h1>
			</div>
		</div>
	</div>
	
	
</div>
<div class="my:10 md:my-20 " >
	<div class="Contact">
		<div class="md:py-6 md:pt-0 text-xl md:text-4xl font-bold text-gray-400 ">
			Contact Me
			<hr class=" mt-5 md:mt-10">
		</div>
	</div>
	<div class="flex justify-between  items-stretch">
	
	<div class="social flex justify-center items-center w-1/2 p-5  ">
		<div class=" w-full p-5 shadow-bw h-full">
			<h6>Get in touch with me via social media</h6>
			<div class="w-full h-full flex flex-col justify-center items-center gap-5 ">
				<a href="mailto: madhabchandro@gmail.com" class="p-3 w-4/5 shadow-bw rounded-full hover:text-red-700"><i class="fa-brands fa-google"></i> Email</a> 
				<a href="#" class="p-3 w-4/5 shadow-bw rounded-full hover:text-red-700"><i class="fa-brands fa-google"></i></a>
				
				<div class="">Linkedin</div>
				<div class="">Linkedin</div>
				<div class="">Linkedin</div>
			
			</div>
		
		</div>
	
	</div>
	<div class="form flex justify-center items-center w-1/2 p-5 ">
		
		<div class=" w-full p-5 shadow-bw h-full">
		<h6>Send me an email</h6>
		<form method="post">
			{% csrf_token %}
			<div class="p-3">
				<div class=" p-3 w-full shadow-bw-inset rounded-xl">
					<input class="w-full bg-cb focus:outline-none" type="text" placeholder="Name">
				</div>
			</div>
			
			<div class="p-3">
				<div class=" p-3 w-full shadow-bw-inset rounded-xl">
					<input class="w-full bg-cb focus:outline-none" type="email" placeholder="Email">
				</div>
			</div>
			
			<div class="p-3">
				<div class=" p-3 w-full shadow-bw-inset rounded-lg" >
					<textarea class="w-full bg-cb focus:outline-none " placeholder="text"></textarea>
				</div>
			</div>
			<div class="p-3">
			<div class="w-full shadow-bw rounded-lg p-3">
				<input type="submit" name="submit" >
			</div>
			</div>
			
		</form>
		</div>
	</div>
	
	</div>
	
	
	
	
	<!--  
	<div class=" mt-5 md:mt-10 text-gray-400">
		<div class="grid grid-cols-3 gap-5 lg:gap-10">
			<div class=" shadow-bw p-2 md:p-10 row-span-2 flex items-center justify-center hover:text-red-500 hover:text-4xl ease-in duration-300">  <a href="mailto: madhabchandro@gmail.com" target="_blank"  class="flex justify-center items-center h-5 w-5  ease-in duration-300"><i class="fa-brands fa-google"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 col-span-2 flex items-center justify-center hover:text-blue-500 hover:text-4xl ease-in duration-300"> <a href="https://www.linkedin.com/in/madhab-chandro-392a341a6/" target="_blank"  class="flex justify-center items-center h-5 w-5 "><i class="fa-brands fa-linkedin-in"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 row-span-2 flex items-center justify-center hover:text-green-600 hover:text-4xl ease-in duration-300"><a href="https://www.upwork.com/freelancers/~01105a047f2bc4442e" target="_blank"  class="flex justify-center items-center  h-5 w-5"><i class="fa-brands fa-upwork"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 flex items-center justify-center hover:text-white hover:text-4xl ease-in duration-300">			      <a href="#" target="_blank"  class="flex justify-center items-center  h-5 w-5"><i class="fa-brands fa-x-twitter"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 flex items-center justify-center hover:text-red-600 hover:text-4xl ease-in duration-300">			  <a href="#" target="_blank"  class="flex justify-center items-center  h-5 w-5"><i class="fa-brands fa-instagram"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 row-span-2 flex items-center justify-center hover:text-blue-500  hover:text-4xl ease-in duration-300"><a href="https://web.facebook.com/madhab.chandro/" target="_blank" class="flex justify-center items-center  h-5 w-5"><i class="fa-brands fa-facebook-f"></i></a></div>
			<div class=" shadow-bw p-2 md:p-10 col-span-2 flex items-center justify-center hover:text-green-700 hover:text-4xl ease-in duration-300"><a href="https://wa.me/01643650382" target="_blank" class="flex justify-center items-center  h-5 w-5"><i class="fa-brands fa-whatsapp"></i></a></div>
		</div>
	</div>
	-->
	
</div>	
	
</div>
</div>
</div>

{% endblock %}